
.trip-planner{
	// .wish-to-go.trip-panel
	// 	// .column
	// 	// 	padding: 0
	.login-provider-buttons {
		.button {
			justify-content: unset;
			display: unset;
		}
		.column {
			padding: 0
		}
	}
}

.wish-counter-widget {
	font-size: 20pt;
}

